<footer class="footer">
    <div class="copyright">
      &copy; 2024 Bittu Kumar.
      <div style="margin-left: 8px;">
        <a href="https://github.com/bittu1040" target="_blank" class="btn btn btn-outline-light">
          <i class="fa-brands fa-github"></i></a>
        <a href="https://medium.com/@bittukumar-web" target="_blank" class="btn btn btn-outline-light"
          style="margin-left: 0.5rem;"><i class="fa-brands fa-medium"></i></a>
        <a href="https://www.linkedin.com/in/bittukumar-web/" target="_blank" class="btn btn btn-outline-light"
          style="margin-left: 0.5rem;margin-right: 0.5rem;"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
  </footer>