<app-autocomplete></app-autocomplete>

<app-pagination-ui
[currentPageNumber]="pageNumber"
[totalPages]="totalPages"
[currentPageSize]="currentPageSize"
[pageSizes]="pageSizes"
[totalItems]="totalItems"
(pageChange)="onPageChange($event)"
(pageSizeChange)="onPageSizeUpdate($event)"
>
</app-pagination-ui>

<app-check-username-unique> </app-check-username-unique>

<div class="mt-5">
<h2> Pagination UI from npm package</h2>
<pagination-ng 
[currentPageNumber]="pageNumber"
[totalPages]="totalPages"
[currentPageSize]="currentPageSize"
[pageSizes]="pageSizes"
[totalItems]="totalItems"
(pageChange)="onPageChange($event)"
(pageSizeChange)="onPageSizeUpdate($event)"
></pagination-ng>
</div>


<app-date-time-demo> </app-date-time-demo>
