<div class="container p-4 mt-3 border rounded bg-light">
    <h2 class="mb-4">Pagination UI</h2>
    <div class="row">
        <div class="col-12 pagination-alignment">
            <div class="pagination-buttons">
                <button class="btn btn-outline-secondary" [disabled]="currentPageNumber === 1" (click)="goToFirstPage()">
                    <i class="bi bi-chevron-double-left"></i>
                </button>
                <button class="btn btn-outline-secondary" [disabled]="currentPageNumber === 1" (click)="goToPreviousPage()">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <span class="fs-5">
                    {{ currentPageNumber }} of {{ totalPages }}
                </span>
                <button class="btn btn-outline-secondary" [disabled]="currentPageNumber === totalPages"
                    (click)="goToNextPage()">
                    <i class="bi bi-chevron-right"></i>
                </button>
                <button class="btn btn-outline-secondary" [disabled]="currentPageNumber === totalPages"
                    (click)="goToLastPage()">
                    <i class="bi bi-chevron-double-right"></i>
                </button>
            </div>
            <div class="results-info">
                <div class="page-size-selector">
                    Results per page
                    <select #sizeSelect (change)="onPageSizeChange(sizeSelect.value)">
                        @for (size of pageSizes; track $index) {
                        <option [value]="size" [selected]="currentPageSize === size">
                            {{ size }}
                        </option>
                        }
                    </select>
                </div>
                @if(totalItems){
                <span class="total-items">of {{ totalItems }}</span>
                }
            </div>
        </div>
    </div>
</div>