<div class="mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{ 'homecomponent.title' | translate }}</h2>
      <h3 class="card-text">{{ 'homecomponent.subtitle' | translate }}</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.user_auth' | translate }}</span>
        </li>
        <li class="list-group-item implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.auth_guard' | translate }}</span>
        </li>
        <li class="list-group-item implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.crud_operation' | translate }}</span>
        </li>
        <li class="list-group-item not-implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.not_implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.reusable_table' | translate }}</span>
        </li>
        <li class="list-group-item ongoing">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.ongoing' | translate }}"
          ></i>
          <span>{{ 'homecomponent.unit_tests' | translate }}</span>
        </li>
        <li class="list-group-item implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.theme_switcher' | translate }}</span>
        </li>
        <li class="list-group-item implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.multilingual_support' | translate }}</span>
        </li>
        <li class="list-group-item not-implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.not_implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.pdf_feature' | translate }}</span>
        </li>
        <li class="list-group-item implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.eslint_prettier' | translate }}</span>
        </li>
        <li class="list-group-item not-implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.not_implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.bundler' | translate }}</span>
        </li>
        <li class="list-group-item not-implemented">
          <i
            class="fa-solid fa-coffee"
            title="{{ 'homecomponent.status.not_implemented' | translate }}"
          ></i>
          <span>{{ 'homecomponent.demo' | translate }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="card">
    <div class="card-body text-center">
      <h2 class="card-title">Looking for Contributions?</h2>
      <p class="card-text">
        I'm always open to collaborating with other developers and enthusiasts.
        If you have ideas, suggestions, or want to contribute to this project,
        check out the GitHub repository!
      </p>
      <a
        href="https://github.com/bittu1040/Angular-17-CRUD-APP"
        class="btn btn-primary"
        target="_blank"
        >Contribute on GitHub</a
      >
    </div>
  </div>
</div>
