<div class="mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">What's Next?</h2>
      <h3 class="card-text">Here's what I'm planning to do next:</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item implemented">
          <i class="fa-solid fa-coffee" title="Implemented"></i>
          <span
            >Implement the user authentication system with Firebase (Login,
            Logout, Register, Forgot password)</span
          >
        </li>
        <li class="list-group-item implemented">
          <i class="fa-solid fa-coffee" title="Implemented"></i>
          <span>Implement Route/Auth guard</span>
        </li>
        <li class="list-group-item implemented">
          <i class="fa-solid fa-coffee" title="Implemented"></i>
          <span>CRUD operation in Table with Firebase</span>
        </li>
        <li class="list-group-item not-implemented">
          <i class="fa-solid fa-coffee" title="Not Implemented"></i>
          <span
            >Reusable table with Sorting, Searching, and Pagination
            feature</span
          >
        </li>
        <li class="list-group-item ongoing">
          <i class="fa-solid fa-coffee" title="Ongoing"></i>
          <span>Write unit tests for components</span>
        </li>
        <li class="list-group-item implemented">
          <i class="fa-solid fa-coffee" title="Implemented"></i>
          <span>Implement Light/Dark theme switcher</span>
        </li>
        <li class="list-group-item not-implemented">
          <i class="fa-solid fa-coffee" title="Not Implemented"></i>
          <span>Implement multilingual support</span>
        </li>
        <li class="list-group-item not-implemented">
          <i class="fa-solid fa-coffee" title="Not Implemented"></i>
          <span>Add Create/Download/Open PDF feature</span>
        </li>
        <li class="list-group-item not-implemented">
          <i class="fa-solid fa-coffee" title="Not Implemented"></i>
          <span
            >Learn and implement ESLint and Prettier for better code
            quality</span
          >
        </li>
        <li class="list-group-item not-implemented">
          <i class="fa-solid fa-coffee" title="Not Implemented"></i>
          <span
            >Learn and implement Web pack or any bundler for better build
            process</span
          >
        </li>
        <li class="list-group-item not-implemented">
          <i class="fa-solid fa-coffee" title="Not Implemented"></i>
          <span>Demo (route, child route, reusable forms)</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="card">
    <div class="card-body text-center">
      <h2 class="card-title">Looking for Contributions?</h2>
      <p class="card-text">
        I'm always open to collaborating with other developers and enthusiasts.
        If you have ideas, suggestions, or want to contribute to this project,
        check out the GitHub repository!
      </p>
      <a
        href="https://github.com/bittu1040/Angular-17-CRUD-APP"
        class="btn btn-primary"
        target="_blank"
        >Contribute on GitHub</a
      >
    </div>
  </div>
</div>
