<div class="mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">What's Next?</h2>
            <h3 class="card-text">Here's what I'm planning to do next:</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Implement the user authentication system with firebase ( <b>Login</b>, <b>Logout </b>, <b>Register</b>, <b>Forgot password</b>) </li>
                <li class="list-group-item">Implement Route/Auth guard</li>
                <li class="list-group-item">CRUD operation in Table with firebase</li>
                <li class="list-group-item">Reusable table with Sorting, Searching and Pagination feature</li>
                <li class="list-group-item">Write unit tests for components</li>
                <li class="list-group-item">Implement Light/Dark theme switcher</li>
                <li class="list-group-item">Implement multilangauge support</li>
                <li class="list-group-item">Add Create/Download/Open Pdf feature</li>
            </ul>
        </div>
    </div>
</div>

<div style="height: 250px;"></div>