<form [formGroup]="timeForm" class="container p-4 mt-3 border rounded bg-light">
  <h2>Work with date, time and DayJS</h2>

    <div class="row justify-content-around">
      <div class="col-xl-4 col-lg-6 col-md-6 mb-3 mb-md-0">
        <div class="card shadow border-primary">
          <div class="card-header bg-primary text-white text-center">
            <h4>Local Time</h4>
          </div>
          <div class="card-body text-center">
            <h5 class="time-display">{{ localTime }}</h5>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="card shadow border-success">
          <div class="card-header bg-success text-white text-center">
            <h4>UTC Time</h4>
          </div>
          <div class="card-body text-center">
            <h5 class="time-display">{{ utcTime }}</h5>
          </div>
        </div>
      </div>
    </div>



  <div class="row mt-5">
    <div class="col-12 mb-3">
      <p class="text-info">
        Input time in <strong>UTC</strong>. This will convert it to your selected time zone and format.
      </p>
    </div>
    <div class="col-12  col-md-6 mb-3">
      <label for="date" class="form-label">Select Date:</label>
      <input id="date" type="date" class="form-control" formControlName="date" />
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="time" class="form-label">Select Time:</label>
      <input id="time" type="time" class="form-control" formControlName="time" />
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="timezone" class="form-label">Select Timezone:</label>
      <select id="timezone" class="form-control" formControlName="timezone">
        @for (tz of timezones; track tz.value) {
        <option [value]="tz.value">{{ tz.label }}</option>
        } @empty {
        <option> No timezones </option>
        }
      </select>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="format" class="form-label">Select Date & Time Format:</label>
      <select id="format" class="form-control" formControlName="format">
        @for (format of dateTimeFormats; track format) {
        <option [value]="format">{{ format }}</option>
        } @empty {
        <option> No formats </option>
        }
      </select>
    </div>
  </div>

  <button type="submit" (click)="convertTime()" class="btn btn-primary mt-3" [disabled]="timeForm.invalid">
    Convert Time
  </button>

  @if(convertedTime) {
  <div class="mt-4">
    <h5>Converted Time:</h5>
    <p>{{ convertedTime }}</p>
  </div>
  }

  <!-- <div class="mb-3 mt-3">
    <label for="timezone">Timezone:</label>
    <select id="timezone" formControlName="timezone">
      <option value="Asia/Kolkata">India Standard Time (IST)</option>
      <option value="America/New_York">Eastern Time (ET)</option>
    </select>
  </div>

  <label for="email" class="form-label">Enter date and time</label>

  <div class="mb-3">
    <input type="date" formControlName="date" class="me-2">
    <input type="time" formControlName="time" (blur)="checkTime()">
  </div>
  <button (click)="submitTime()">Click</button> -->
</form>