<div class="container mt-2">
    <h2>Search GitHub User Profile</h2>

    <div class="row mb-3">
        <div class="col-md-8">
            <input #usernameInput type="text" class="form-control" placeholder="Enter GitHub username">
        </div>
        <div class="col-md-4">
            <button (click)="searchUser(usernameInput.value)" class="btn btn-primary">Search</button>
        </div>
    </div>

    <!-- User Profile -->
    <div class="row">
        <div class="col-md-12">
            @if (user) {
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <img [src]="user.avatar_url" alt="{{ user.name }}" class="rounded me-4" width="150"
                            height="150">

                        <!-- User Info -->
                        <div>
                            <h1>{{ user.name || 'No name available' }}</h1>
                            <p class="card-text">{{ user.bio || 'No bio available' }}</p>
                            <p class="card-text">
                                <i class="bi bi-geo-alt"></i> {{ user.location || 'Location not available' }}
                            </p>
                            <a [href]="user.html_url" target="_blank" class="btn btn-outline-primary">View GitHub
                                Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            }

            @else if (errorMessage) {
            <div class="alert alert-danger">
                {{ errorMessage }}
            </div>
            }

            @else if (isLoading) {
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            }

            @else {
            <div class="alert alert-info">
                Enter username to search for GitHub profile
            </div>
            }
        </div>
    </div>


</div>