<app-top-nav (sidenavToggle)="sidenav.toggle()">


</app-top-nav>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isSideNavOpened">
    <mat-nav-list>
      <mat-list-item routerLink="/home" > <div class="sidenavtext">Home </div> </mat-list-item>
      <mat-list-item routerLink="/table" > <div class="sidenavtext"> Table </div></mat-list-item>
      <mat-list-item routerLink="/github-user" > <div class="sidenavtext"> GitHub User </div></mat-list-item>
      <mat-list-item routerLink="/route-demo/products" [queryParams]="{ category: 'all' }" > <div class="sidenavtext"> Router demo </div></mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-toast class="snippet-toaster" [position]="ToasterPosition.TOP_RIGHT" />