mat-sidenav-container {
  height: calc(100vh - 64px);
  background-color: var(--main-bg-color);

}

@media only screen and (max-width: 460px) {
  mat-toolbar {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .mat-sidenav {
    width: 60%;
    /* Adjust sidenav width as needed */
  }
}

@media only screen and (min-width: 601px) {
  .mat-sidenav {
    width: 250px;
  }
}

/* uncomment this code to hide the menu button in bigger screen */
/* @media only screen and (min-width: 601px) {
        #menu-button {
          display: none;
        }
      } */

.container {
  min-height: 100vh;
}