.mat-toolbar {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  // background: radial-gradient(circle, rgba(171, 201, 201, 1) 0%, rgba(0, 255, 235, 1) 100%);
}

.text, a{
  color: var(--primary-text-color);

}


@media only screen and (max-width: 460px) {
  mat-toolbar {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .toolbar-buttons {
    display: flex;
    justify-content: flex-end;
  }


  .home,
  .table_example,
  .contribute {
    display: none;
  }

  .user_menu {
    display: flex;
  }
}

@media only screen and (min-width: 601px) {

  .toolbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .user_menu {
    display: flex;
  }
}