.mat-toolbar {
  color: var(--textColor);
  background: var(--bgColor);
  border-bottom: 1px solid var(--borderColor);
}

.toolbar-buttons {
  a {
    color: var(--textColor);
    background: var(--bgColor);
  }
}

::ng-deep .popup-menu {
  color: var(--textColor) !important;
  background: var(--bgColor) !important;

  mat-icon {
    color: var(--textColor) !important;
    background: var(--bgColor) !important;
  }

  button {
    span {
      color: var(--textColor) !important;
      background: var(--bgColor) !important;
    }
  }
}

@media only screen and (max-width: 460px) {
  mat-toolbar {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .toolbar-buttons {
    display: flex;
    justify-content: flex-end;
  }


  .home,
  .table_example,
  .contribute {
    display: none;
  }

  .user_menu {
    display: flex;
  }
}

@media only screen and (min-width: 601px) {

  .toolbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .user_menu {
    display: flex;
  }
}
