<mat-toolbar  style="justify-content: space-between;">
  <div style="display: flex; align-items: center;">
    <button mat-icon-button class="example-icon" (click)="toggleSidenav()" id="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div routerLink="/">Angular 17</div>
  </div>
  <div style="display: flex; align-items: center;">
    <div class="toolbar-buttons">
      <mat-slide-toggle (change)="toggleTheme()"><div class="text"> Light/Dark </div></mat-slide-toggle>
      <a class="btn home" routerLink="/home">Home</a>
      <a class="btn table_example" routerLink="/table">Table</a>
      <a class="btn user_menu" aria-label="User account" [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon> </a>
    </div>
  </div>
</mat-toolbar>


<mat-menu #userMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
    <span>Theme</span>
  </button>
  <button mat-menu-item>
    <mat-icon>translate</mat-icon>
    <span>Language</span>
  </button>
  @if(username()){
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>{{username() | slice: 0 : 5}}</span>
  </button>
  }
  @if(!isLoggedIn()){
  <button mat-menu-item routerLink="/login">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  }
  @if(isLoggedIn()){
  <button mat-menu-item (click)="openLogoutDialog()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  }

  <button mat-menu-item>
    <a href="https://github.com/bittu1040/Angular-17-CRUD-APP" target="_blank" class="link-style">
      <i class="fa-brands fa-github me-3"></i>
      <span>Contribute</span>
    </a>
  </button>
</mat-menu>