<mat-toolbar color="primary" style="justify-content: space-between;">
    <div style="display: flex; align-items: center; color: black;">
      <button mat-icon-button class="example-icon" (click)="toggleSidenav()" id="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div routerLink="/">CRUD APP Angular 17</div>
    </div>
    <div style="display: flex; align-items: center;">
      <div class="toolbar-buttons">
        <a href="https://github.com/bittu1040/Angular17-CRUD-APP" target="_blank" class="btn btn btn-outline">Contribute <i class="fa-brands fa-github"></i></a>
        <a class="btn" routerLink="/home">Home</a>
        <a class="btn" routerLink="/table">Table</a>
      </div>
    </div>
  </mat-toolbar>
  