<div class="grid-container">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner"></div>
  </div>

  <ag-grid-angular
    style="width: 100%; height: calc(100vh - 180px);"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

  <app-custom-pagination
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalItems]="totalItems"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)">
  </app-custom-pagination>
</div>