<div class="container p-4 mt-3 border rounded bg-light">
    <h3>Autocomplete</h3>
    <div class="autocomplete">
        <input type="text" [(ngModel)]="searchText" (input)="filter()" (focus)="showSuggestions()"
            placeholder="Search" />
        @if(filteredItems.length > 0){
        <div class="suggestions">
            @for (item of filteredItems; track $index) {
            <div (click)="selectItem(item)" class="suggestion-item">
                {{item}}
            </div>
            }
        </div>
        }
    </div>
</div>