/* You can add global styles to this file, and also import other style files */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif;
}

body{
  --primary-bg-color: rgb(0, 248, 248);
  --primary-text-color: rgb(0, 0, 0);
  --main-bg-color: #F9F3F3;
  --main-bg-color-1: rgb(219, 250, 250);
  &.dark {
    --primary-bg-color: #222831;
    --primary-text-color: #ffd369;
    --main-bg-color: #393e46;
    --main-bg-color-1: #2f3134;
  }
}

.auth-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }