/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


body.dark {
  @include darken();
}

body.light {
  @include lighten();
}

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
