<mat-toolbar class="mt-2" color="primary">
  <span>CRUD APP (Table)</span>

</mat-toolbar>

<div class="table-div">

  <div class="mt-2 mb-2">
    <button mat-raised-button color="primary" (click)="redirectToAdd()">Add User</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> city </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> company </th>
      <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> edit </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="mat-18" style="cursor: pointer;" (click)="redirectToEdit(element.id)">edit</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="mat-18" style="cursor: pointer;" (click)="redirectToDelete(element.id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div style="height: 1000px;"></div>