<mat-toolbar class="mt-2" color="primary">
  <span>Employee Dashboard</span>

</mat-toolbar>

<div class="table-container p-4">
  <div class="row mt-3 mb-3">
    <div class="col">
      <button class="btn btn-primary" (click)="redirectToAdd()">Add User</button>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <input type="text" class="form-control search-input" placeholder="Search by name, city, or company"
        (input)="applyFilter($event)">
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered custom-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Age</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of filteredDataSource">
          <td>{{element.name}}</td>
          <td>{{element.city}}</td>
          <td>{{element.age}}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary" (click)="redirectToEdit(element.id)">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-outline-danger" (click)="redirectToDelete(element.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>