.table-container {
  background-color: var(--main-bg-color-1);
  color: var(--primary-text-color);
  border-radius: 8px;
}

.search-input {
  background-color: var(--main-bg-color-1);
  border-radius: 4px;
  padding: 8px;
  color: var(--primary-text-color);
}

.form-control::placeholder {
  color: var(--primary-text-color);
}

.form-control {
  border-color: var(--border-color);
}

tr{
  border-color: var(--border-color)
}

th,td{
  background: var(--main-bg-color-1);
  color: var(--primary-text-color);
}

.custom-table .btn-outline-primary,
.custom-table .btn-outline-danger {
  // color: var(--primary-text-color);
  border-color: var(--primary-text-color);
}

.custom-table .btn-outline-primary:hover,
.custom-table .btn-outline-danger:hover {
  background-color: var(--primary-text-color);
  color: var(--main-bg-color-1);
}

:host ::ng-deep .page-link{
  color: var(--primary-text-color);
  background: var(--main-bg-color-1);
  border-color: var(--border-color);
}

:host ::ng-deep .page-link{
  color: var(--primary-text-color);
  background: var(--main-bg-color-1);
  border-color: var(--border-color);
}

:host ::ng-deep .page-link {
  color: var(--primary-text-color);
  background: var(--main-bg-color-1);
  border-color: var(--border-color);
}

:host ::ng-deep .page-link:hover {
  color: var(--main-bg-color-1); 
  background: var(--primary-text-color);
  border-color: var(--primary-text-color);
}

:host ::ng-deep .page-item.active .page-link {
  color: var(--main-bg-color-1);
  background: var(--primary-text-color); 
  border-color: var(--primary-text-color);
}



// .table-div{
//     display: flex;
//     flex-direction: column;
//     padding-bottom: 20px;
// }
// table {
//     width: 100%;
//     overflow-x: auto;
//     overflow-y: hidden;
// }
// th.mat-header-cell {
//     text-align: left;
//     max-width: 300px;
// }


  